<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="StyleSheet" href="/css/login_style.css">
    <title>添加至通讯录</title>
    <script src="/js/myJS.js"></script>
</head>
<body>
<div id="box">
    <div id="title"><h1>添加联系人信息</h1></div>
    <form id="add_box" method="post" action="" name="myBox">
        <p>姓名：<input class="input_content" type="text" name="name" ></p>
        <p>电话：<input class="input_content" id="phoneNumber" type="text" name="phoneNumber" onkeyup="duplicatePhoneNumber(this.value)"></p>
        <p><span id="hint" style="color:red"></span></p>
        <p>邮箱：<input class="input_content" id="email" type="text" name="email" ></p>
        <p>住址：<input class="input_content" type="text" name="address" ></p>
        <p>QQ：<input class="input_content" type="text" name="QQ" ></p>
        <button type="submit" class="add_button" onclick="Post()" >添加</button>
        <button type="button" class="add_button" onclick="Cancel()">取消</button>
    </form>

</div>
</body>
</html>