<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body background="https://ss3.bdstatic.com/lPoZeXSm1A5BphGlnYG/skin/66.jpg">
<div class="container">
    <h2>TodoList</h2>
    <a class="btn btn-primary float-right" href="./addPerson.html" th:href="@{/addPerson/addList}">Add</a>
    <table class="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>联系方式</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="person:${people}" >
            <td th:text="${person.name}">Mr.A</td>
           <td th:text="${person.email}">hehe@qq.com</td>
            <td>
                <a type="button" class="btn  btn-xs btn-success" href="./myAddressBook.html"
                   th:href="@{/addPerson/edit(id=${personStat.index})}">编辑</a>
                <a type="button" class="btn  btn-xs btn-danger" href="./myAddressBook.html"
                   th:href="@{/addPerson/delete(id=${personStat.index})}">删除</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td>
                <a type="button" class="btn  btn-xs btn-success" href="./myAddressBook.html">编辑</a>
                <a type="button" class="btn  btn-xs btn-danger" href="./myAddressBook.html">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>