<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="StyleSheet" href="/css/login_style.css">
    <title>个人通讯录登陆系统</title>
    <script src="/js/myJS.js"></script>
</head>
<body>
<div id="box">
    <div id="title"><h1>通讯录登陆</h1></div>
    <form id="input_box" method="post" action="/login">
        <p><input class="input_content" type="text" name="Username" placeholder="请输入用户名"></p>
        <p><input class="input_content" type="password" name="Password" placeholder="请输入密码"></p>
        <input type="submit" class="button" value="登陆">
    </form>
    <div>测试用户名：admin   测试密码：123456</div>

</div>
</body>
</html>